* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #f4c531;
}

.wrapper {
    background-color: #ffffff;
    width: 80vmin;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    padding: 40px 20px;
    border-radius: 8px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
}

label {
    display: block;
}

span {
    position: relative;
    font-size: 22px;
    bottom: -1px;
}

.opt-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    gap: 10px;
    align-items: center;
}

button {
    background-color: #000000;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: 600;
}

.container {
    margin-top: 20px;
    display: grid;
    overflow: hidden;
    border: 1px solid #000;
}

.gridCol {
    border: 0.1px solid #ddd;
    height: 1em;
    width: 1em;
}